* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/notes_img/wallpaperflare.com_wallpaper\ \(6\).jpg);
    background-attachment: fixed;
    background-size: cover;
}

.top-bar {
    margin-top: 0;
    height: 150px;
    /* background-color: rgb(25, 48, 48); */
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 8px rgb(243, 10, 10);
    color: rgb(6, 230, 230);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

hr {
    margin-left: 25%;
    border-color: rgb(241, 237, 237);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 50%;
    margin-top: 10px;
}
.workshop {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 40px;
    color: rgb(62, 14, 194);
    border-radius: 50px;
    text-shadow: 2px 2px 5px rgb(9, 247, 247);
    height: 500px;
    width: 90%;
    background-color: rgb(180, 223, 223);
    margin: 10% 0 10% 5%;
    box-shadow: 10px 10px 10px rgb(91, 89, 211);
    background: rgba(66, 172, 172, 0.1);
}

.Chemistry {
    /* position: absolute; */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 40px;
    color: rgb(62, 14, 194);
    border-radius: 50px;
    text-shadow: 2px 2px 5px rgb(9, 247, 247);
    height: 500px;
    width: 90%;
    background-color: rgb(180, 223, 223);
    margin: 10% 0 10% 5%;
    box-shadow: 10px 10px 10px rgb(91, 89, 211);
    background: rgba(66, 172, 172, 0.1);
    align-items: center;
    align-items: center;
}
.back-btn {
    color: aqua;
    font-size: 100px;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    transition: .1s;
    font-family: monospace;
    text-decoration: none;
}

.back-btn:hover {
    transform: scale(1.2);
    text-shadow: 3px 3px 3px rgb(241, 41, 5);
}
.pdf-wt:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgb(7, 208, 243);
}

.pdf-ch:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgb(7, 208, 243);
}

@media(min-width:1256px) {
    .content-ch {
        display: flex;
        row-gap: 20px;
        column-gap: 5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pdf-ch {
        margin-top: 45px;
        height: 280px;
        width: 232px;
        background-color: rgba(93, 234, 241, 0.6);
        box-shadow: 5px 5px 5px black;
        border-radius: 15px;
        transition: .1s;
    }
    .content-wt {
        display: flex;
        row-gap: 20px;
        column-gap: 5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pdf-wt {
        margin-top: 45px;
        height: 280px;
        width: 232px;
        background-color: rgba(93, 234, 241, 0.6);
        box-shadow: 5px 5px 5px black;
        border-radius: 15px;
        transition: .1s;
    }
}

@media(max-width:1256px) {
    .Chemistry {
        height: 1550px;
    }
    .workshop {
        height: 1550px;
    }

    .content-ch {
        display: flex;
        flex-direction: column;
        /* row-gap: 20px; */
        column-gap: 5%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pdf-ch {
        margin-top: 45px;
        height: 280px;
        width: 232px;
        background-color: rgba(93, 234, 241, 0.6);
        box-shadow: 5px 5px 5px black;
        border-radius: 15px;
        transition: .1s;
    }
    .content-wt {
        display: flex;
        flex-direction: column;
        /* row-gap: 20px; */
        column-gap: 5%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .pdf-wt {
        margin-top: 45px;
        height: 280px;
        width: 232px;
        background-color: rgba(93, 234, 241, 0.6);
        box-shadow: 5px 5px 5px black;
        border-radius: 15px;
        transition: .1s;
    }

}
